In [1]:
import pandas as pd

song_df = pd.read_csv("lagu.csv", encoding="latin")

In [2]:
song_df.head()

,id,judul,penyanyi,link,lirik
0,1,A Blessing,Sisi,https://lirik.kapanlagi.com/artis/sisi/a-bless...,He's my everything... He's my everynight\nFrom...
1,2,A Boy Was Conceived (Intro),Ice Cube,https://lirik.kapanlagi.com/artis/ice-cube/a-b...,[Keith David]\nOnly three short years after th...
2,3,A Brand New Day,Ten 2 Five,https://lirik.kapanlagi.com/artis/ten-2-five/a...,A brand new day for you and me\nIn this place ...
3,4,A Change,Anggun,https://lirik.kapanlagi.com/artis/anggun/a-cha...,Belum ada lirik
4,5,A Kiss Without A Heart With So Much Fun,ShowOfTheHands,https://lirik.kapanlagi.com/artis/showofthehan...,Belum Ada Lirik

In [3]:
song_df.penyanyi.describe()

count         18733
unique         4005
top       Iwan Fals
freq            286
Name: penyanyi, dtype: object

In [4]:
summary = song_df.groupby('penyanyi').count()

In [5]:
summary.sort_values(['id'], ascending=False).head(5)

                 id  judul  link  lirik
penyanyi
Iwan Fals       286    286   286    286
Rhoma Irama     257    257   257    257
Slank           243    243   243    243
Gigi            124    124   124    124
Siti Nurhaliza  108    108   108    108

In [6]:
#remove break /n
song_df['lirik'] = song_df['lirik'].replace('\n',' ', regex=True)

In [7]:
song_df = song_df[song_df['lirik'].str.lower()!="belum ada lirik"]

In [8]:
song_df.describe()

                 id
count  15107.000000
mean    9328.530747
std     5392.811816
min        1.000000
25%     4658.500000
50%     9302.000000
75%    13982.500000
max    18732.000000

In [9]:
#lets detect the song language
from langdetect import detect

In [10]:
def detectLang(lirik):
    try:
        return detect(lirik)
    except:
        return 'nan'

In [11]:
song_df["lang"] = song_df["lirik"].apply(detectLang)

In [12]:
song_df.groupby("lang").count().sort_values(['id'], ascending=False).head(5)

         id  judul  penyanyi   link  lirik
lang
id    13864  13864     13864  13864  13864
en     1055   1055      1055   1055   1055
tl       86     86        86     86     86
so       39     39        39     39     39
fr       14     14        14     14     14

In [13]:
song_df_indo = song_df[song_df["lang"]=='id']

In [14]:
song_df_en = song_df[song_df["lang"]=='en']

In [15]:
song_df_indo.to_csv("song_df_indo.csv")
song_df_en.to_csv("song_df_en.csv")